.headercontenedor {
  margin: $margengeneral;
  width: $maxw;
  background-color: $ColorCuarteario;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1%;
  h1 {
    font-size: 6rem;
  }
  nav {
    color: red;
    ul {
      color: blue;
      display: flex;
      gap: 10px;

      justify-content: space-around;
    }
    li {
      background-color: #6986e6;
      border-radius: 5%;
      padding: 1% 2% 1% 2%;
      display: flex;
      /* align-content: stretch; */
      text-align: center;
      min-width: 10vw;
      justify-content: space-around;
      align-items: center;
      a {
        font-size: 3.1rem;
        color: red;
      }
    }
    li:hover {
      background-color: #5479ca;
    }
  }
}

@media screen and (max-width: 768px) {
  .headercontenedor {
    h1 {
    }
    nav {
      ul {
        flex-wrap: wrap;
      }
      li {
        background-color: #6986e6;

        a {
        }
      }
      li:hover {
      }
    }
  }
}
