.maincontenedor {
  margin: $margengeneral;
  width: $maxw;
  background-color: #d5cde25e;
  display: flex;
  flex-direction: column;
  padding: 1%;

  h2 {
    text-align: center;
    font-size: 20rem;
  }
  &-commando {
    display: flex;
    align-items: center;
    gap: 1%;
    border: 1px solid black;
    h3 {
      font-size: 4rem;
    }
    p {
      border-left: 1px dashed black;
      font-size: 3.1rem;
    }
    a {
      font-size: 3rem;
    }
  }
}
