$maxw: 1024px;
$margengeneral: 0 auto;
$fon1: "Roboto", sans-serif;
$ColorPrincipal: #f0a83e;
$ColorSecundario: #3c2313;
$ColorTerceario: #222222;
$ColorCuarteario: #b089f5;
$ColorQuinteario: #8a8787;
$colorSexteario: #ffffff;
$ColorfondImg: #e0e0df;
$backgroundImg: rgb(236, 221, 221);
// $Pshadow1: 0px 10px 7px rgb(0 0 0 / 25%);
// $Pshadow2: 0px 4px 4px rgba(0, 0, 0, 0.25);
